In [4]:
import pandas as pd
import numpy as np
%matplotlib inline

In [5]:
df=pd.read_csv('https://raw.githubusercontent.com/prasertcbs/tutorial/master/mpg.csv')
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [6]:
df['cty_kml']= df['cty']*.425143707
df.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,cty_kml
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,7.652587
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8.928018
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,8.502874
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,8.928018
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,6.802299

In [12]:
df['hwy_kml']= df.hwy*.425143707
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,cty_kml,hwy_kml
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,7.652587,12.329168
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8.928018,12.329168
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,8.502874,13.179455
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,8.928018,12.754311
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,6.802299,11.053736
...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,8.077730,11.904024
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8.928018,12.329168
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,6.802299,11.053736
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,7.652587,11.053736
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,7.227443,11.053736

In [14]:
df['hwy_kml']=df['hwy_kml'].round(1)
df.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,cty_kml,hwy_kml
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,7.652587,12.3
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8.928018,12.3
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,8.502874,13.2
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,8.928018,12.8
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,6.802299,11.1

In [15]:
df['trans_am']= df.trans.str[0]
df.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,cty_kml,hwy_kml,trans_am
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,7.652587,12.3,a
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8.928018,12.3,m
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,8.502874,13.2,m
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,8.928018,12.8,a
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,6.802299,11.1,a

In [17]:
df.cty_kml.mean()

7.167486855192312

In [18]:
df.hwy_kml.mean()

9.971794871794874

In [19]:
df.describe()

,displ,year,cyl,cty,hwy,cty_kml,hwy_kml
count,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000
mean,3.471795,2003.500000,5.888889,16.858974,23.440171,7.167487,9.971795
std,1.291959,4.509646,1.611534,4.255946,5.954643,1.809389,2.531971
min,1.600000,1999.000000,4.000000,9.000000,12.000000,3.826293,5.100000
25%,2.400000,1999.000000,4.000000,14.000000,18.000000,5.952012,7.700000
50%,3.300000,2003.500000,6.000000,17.000000,24.000000,7.227443,10.200000
75%,4.600000,2008.000000,8.000000,19.000000,27.000000,8.077730,11.500000
max,7.000000,2008.000000,8.000000,35.000000,44.000000,14.880030,18.700000