In [1]:
import pandas as pd
pd.__version__

'1.1.3'

In [2]:
df=pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/thai_provinces.csv')
df.shape

(77, 5)

In [3]:
df

   provinceID   provinceTh         provinceEn regionID    areaKm2
0          นม   นครราชสีมา  Nakhon Ratchasima       NE  20493.964
1          ชม    เชียงใหม่         Chiang Mai        N  20107.057
2          กจ    กาญจนบุรี       Kanchanaburi        C  19483.148
3          ตก          ตาก                Tak        N  16406.650
4          อบ  อุบลราชธานี   Ubon Ratchathani       NE  16112.650
..        ...          ...                ...      ...        ...
72         สห    สิงห์บุรี          Sing Buri        C    822.478
73         นบ      นนทบุรี         Nonthaburi        C    622.303
74         ภก       ภูเก็ต             Phuket        S    543.034
75         สส  สมุทรสงคราม    Samut Songkhram        C    416.707
76         บก       บึงกาฬ          Bueng Kan       NE   4305.000

[77 rows x 5 columns]

In [4]:
df.head()

  provinceID   provinceTh         provinceEn regionID    areaKm2
0         นม   นครราชสีมา  Nakhon Ratchasima       NE  20493.964
1         ชม    เชียงใหม่         Chiang Mai        N  20107.057
2         กจ    กาญจนบุรี       Kanchanaburi        C  19483.148
3         ตก          ตาก                Tak        N  16406.650
4         อบ  อุบลราชธานี   Ubon Ratchathani       NE  16112.650

In [5]:
df.head(3)

  provinceID  provinceTh         provinceEn regionID    areaKm2
0         นม  นครราชสีมา  Nakhon Ratchasima       NE  20493.964
1         ชม   เชียงใหม่         Chiang Mai        N  20107.057
2         กจ   กาญจนบุรี       Kanchanaburi        C  19483.148

In [6]:
df.tail()

   provinceID   provinceTh       provinceEn regionID   areaKm2
72         สห    สิงห์บุรี        Sing Buri        C   822.478
73         นบ      นนทบุรี       Nonthaburi        C   622.303
74         ภก       ภูเก็ต           Phuket        S   543.034
75         สส  สมุทรสงคราม  Samut Songkhram        C   416.707
76         บก       บึงกาฬ        Bueng Kan       NE  4305.000

In [7]:
df.tail(3)

   provinceID   provinceTh       provinceEn regionID   areaKm2
74         ภก       ภูเก็ต           Phuket        S   543.034
75         สส  สมุทรสงคราม  Samut Songkhram        C   416.707
76         บก       บึงกาฬ        Bueng Kan       NE  4305.000

In [8]:
df.tail(10)

   provinceID     provinceTh              provinceEn regionID   areaKm2
67        กทม  กรุงเทพมหานคร  Krung Thep Maha Nakhon        C  1568.737
68         ปท       ปทุมธานี            Pathum Thani        C  1525.856
69         สป    สมุทรปราการ            Samut Prakan        C  1004.092
70         อท        อ่างทอง               Ang Thong        C   968.372
71         สค      สมุทรสาคร            Samut Sakhon        C   872.347
72         สห      สิงห์บุรี               Sing Buri        C   822.478
73         นบ        นนทบุรี              Nonthaburi        C   622.303
74         ภก         ภูเก็ต                  Phuket        S   543.034
75         สส    สมุทรสงคราม         Samut Songkhram        C   416.707
76         บก         บึงกาฬ               Bueng Kan       NE  4305.000

In [9]:
df[:5]

  provinceID   provinceTh         provinceEn regionID    areaKm2
0         นม   นครราชสีมา  Nakhon Ratchasima       NE  20493.964
1         ชม    เชียงใหม่         Chiang Mai        N  20107.057
2         กจ    กาญจนบุรี       Kanchanaburi        C  19483.148
3         ตก          ตาก                Tak        N  16406.650
4         อบ  อุบลราชธานี   Ubon Ratchathani       NE  16112.650

In [10]:
df[-5:]

   provinceID   provinceTh       provinceEn regionID   areaKm2
72         สห    สิงห์บุรี        Sing Buri        C   822.478
73         นบ      นนทบุรี       Nonthaburi        C   622.303
74         ภก       ภูเก็ต           Phuket        S   543.034
75         สส  สมุทรสงคราม  Samut Songkhram        C   416.707
76         บก       บึงกาฬ        Bueng Kan       NE  4305.000

In [12]:
df[-3:]

   provinceID   provinceTh       provinceEn regionID   areaKm2
74         ภก       ภูเก็ต           Phuket        S   543.034
75         สส  สมุทรสงคราม  Samut Songkhram        C   416.707
76         บก       บึงกาฬ        Bueng Kan       NE  4305.000

In [13]:
pd.concat([df.head(),df.tail()])

   provinceID   provinceTh         provinceEn regionID    areaKm2
0          นม   นครราชสีมา  Nakhon Ratchasima       NE  20493.964
1          ชม    เชียงใหม่         Chiang Mai        N  20107.057
2          กจ    กาญจนบุรี       Kanchanaburi        C  19483.148
3          ตก          ตาก                Tak        N  16406.650
4          อบ  อุบลราชธานี   Ubon Ratchathani       NE  16112.650
72         สห    สิงห์บุรี          Sing Buri        C    822.478
73         นบ      นนทบุรี         Nonthaburi        C    622.303
74         ภก       ภูเก็ต             Phuket        S    543.034
75         สส  สมุทรสงคราม    Samut Songkhram        C    416.707
76         บก       บึงกาฬ          Bueng Kan       NE   4305.000

In [14]:
pd.concat([df.head(3),df.tail(3)])

   provinceID   provinceTh         provinceEn regionID    areaKm2
0          นม   นครราชสีมา  Nakhon Ratchasima       NE  20493.964
1          ชม    เชียงใหม่         Chiang Mai        N  20107.057
2          กจ    กาญจนบุรี       Kanchanaburi        C  19483.148
74         ภก       ภูเก็ต             Phuket        S    543.034
75         สส  สมุทรสงคราม    Samut Songkhram        C    416.707
76         บก       บึงกาฬ          Bueng Kan       NE   4305.000

In [15]:
df.sample()

   provinceID provinceTh provinceEn regionID   areaKm2
58         รน      ระนอง     Ranong        S  3298.045

In [16]:
df.sample(5)

   provinceID  provinceTh         provinceEn regionID    areaKm2
64         นฐ      นครปฐม      Nakhon Pathom        C   2168.327
47         ยล        ยะลา               Yala        S   4521.078
0          นม  นครราชสีมา  Nakhon Ratchasima       NE  20493.964
57         พท      พัทลุง        Phatthalung        S   3424.473
19         นว   นครสวรรค์       Nakhon Sawan        N   9597.677

In [17]:
df.sample(frac=.1)

   provinceID   provinceTh    provinceEn regionID    areaKm2
47         ยล         ยะลา          Yala        S   4521.078
52         พง        พังงา      Phangnga        S   4170.895
26         นค      หนองคาย     Nong Khai       NE   7332.280
15         พล     พิษณุโลก   Phitsanulok        N  10815.854
37         ชพ        ชุมพร      Chumphon        S   6010.849
48         ลพ        ลำพูน       Lamphun        N   4505.882
45         กบ       กระบี่         Krabi        S   4708.512
69         สป  สมุทรปราการ  Samut Prakan        C   1004.092

In [18]:
df.provinceTh.sample(n=5)

58          ระนอง
2       กาญจนบุรี
4     อุบลราชธานี
75    สมุทรสงคราม
76         บึงกาฬ
Name: provinceTh, dtype: object

In [19]:
df.provinceTh.head()

0     นครราชสีมา
1      เชียงใหม่
2      กาญจนบุรี
3            ตาก
4    อุบลราชธานี
Name: provinceTh, dtype: object

In [20]:
df[["provinceTh","areaKm2"]].head()

    provinceTh    areaKm2
0   นครราชสีมา  20493.964
1    เชียงใหม่  20107.057
2    กาญจนบุรี  19483.148
3          ตาก  16406.650
4  อุบลราชธานี  16112.650

In [22]:
df[["provinceTh","areaKm2"]].sample(5)

       provinceTh    areaKm2
26        หนองคาย   7332.280
17  นครศรีธรรมราช   9942.502
3             ตาก  16406.650
12           น่าน  11472.072
21      กำแพงเพชร   8607.490