In [1]:
import pandas as pd

In [4]:
print(f"pandas version= {pd.__version__}" )

pandas version= 1.1.3

In [6]:
pd.Timestamp.today()

Timestamp('2021-04-19 12:05:07.392473')

### Read data International tourism,receipts(current US$)
### Wide format

In [11]:
url="https://github.com/prasertcbs/basic-dataset/raw/master/intl_tourism_receipts_usd_wdi.xlsx"
df=pd.read_excel(url,sheet_name='Data',skiprows=3)
df

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.540000e+08,6.660000e+08,7.260000e+08,7.860000e+08,7.820000e+08,8.500000e+08,...,1.352000e+09,1.223000e+09,1.254000e+09,1.358000e+09,1.412000e+09,1.506000e+09,1.625000e+09,1.659000e+09,1.638000e+09,NaN
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.700000e+07,9.000000e+07,1.690000e+08,1.520000e+08,1.770000e+08,1.910000e+08,9.200000e+07,8.800000e+07,5.100000e+07,NaN
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.700000e+07,3.800000e+07,2.400000e+07,3.900000e+07,3.100000e+07,3.400000e+07,...,2.930000e+08,5.540000e+08,7.260000e+08,6.530000e+08,7.110000e+08,1.241000e+09,1.597000e+09,1.171000e+09,6.280000e+08,NaN
3,Albania,ALB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,7.000000e+07,9.400000e+07,3.400000e+07,6.000000e+07,2.180000e+08,3.980000e+08,...,1.848000e+09,2.014000e+09,1.780000e+09,1.833000e+09,1.623000e+09,1.670000e+09,1.849000e+09,1.614000e+09,1.821000e+09,NaN
4,Andorra,AND,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.000000e+07,5.500000e+07,7.000000e+07,8.400000e+07,6.100000e+07,7.300000e+07,...,8.860000e+08,8.990000e+08,1.291000e+09,9.100000e+08,1.005000e+09,1.097000e+09,1.199000e+09,1.160000e+08,NaN,NaN
261,South Africa,ZAF,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.654000e+09,3.137000e+09,3.422000e+09,3.419000e+09,3.407000e+09,3.338000e+09,...,9.178000e+09,8.684000e+09,1.030900e+10,1.070600e+10,1.120200e+10,1.046800e+10,1.048400e+10,9.140000e+09,8.807000e+09,NaN
262,Zambia,ZMB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,2.900000e+07,4.000000e+07,5.300000e+07,6.700000e+07,...,5.420000e+08,4.740000e+08,4.920000e+08,5.550000e+08,5.180000e+08,5.520000e+08,6.420000e+08,6.600000e+08,6.830000e+08,NaN
263,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1.450000e+08,2.320000e+08,2.050000e+08,1.580000e+08,2.020000e+08,1.250000e+08,...,2.940000e+08,1.290000e+08,1.350000e+08,1.640000e+08,1.740000e+08,1.830000e+08,1.860000e+08,1.910000e+08,1.940000e+08,NaN

In [13]:
pd.set_option('display.max_rows',10)

In [14]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.540000e+08,6.660000e+08,7.260000e+08,7.860000e+08,7.820000e+08,8.500000e+08,...,1.352000e+09,1.223000e+09,1.254000e+09,1.358000e+09,1.412000e+09,1.506000e+09,1.625000e+09,1.659000e+09,1.638000e+09,NaN
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.700000e+07,9.000000e+07,1.690000e+08,1.520000e+08,1.770000e+08,1.910000e+08,9.200000e+07,8.800000e+07,5.100000e+07,NaN
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.700000e+07,3.800000e+07,2.400000e+07,3.900000e+07,3.100000e+07,3.400000e+07,...,2.930000e+08,5.540000e+08,7.260000e+08,6.530000e+08,7.110000e+08,1.241000e+09,1.597000e+09,1.171000e+09,6.280000e+08,NaN
3,Albania,ALB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,7.000000e+07,9.400000e+07,3.400000e+07,6.000000e+07,2.180000e+08,3.980000e+08,...,1.848000e+09,2.014000e+09,1.780000e+09,1.833000e+09,1.623000e+09,1.670000e+09,1.849000e+09,1.614000e+09,1.821000e+09,NaN
4,Andorra,AND,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.000000e+07,5.500000e+07,7.000000e+07,8.400000e+07,6.100000e+07,7.300000e+07,...,8.860000e+08,8.990000e+08,1.291000e+09,9.100000e+08,1.005000e+09,1.097000e+09,1.199000e+09,1.160000e+08,NaN,NaN
261,South Africa,ZAF,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.654000e+09,3.137000e+09,3.422000e+09,3.419000e+09,3.407000e+09,3.338000e+09,...,9.178000e+09,8.684000e+09,1.030900e+10,1.070600e+10,1.120200e+10,1.046800e+10,1.048400e+10,9.140000e+09,8.807000e+09,NaN
262,Zambia,ZMB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,2.900000e+07,4.000000e+07,5.300000e+07,6.700000e+07,...,5.420000e+08,4.740000e+08,4.920000e+08,5.550000e+08,5.180000e+08,5.520000e+08,6.420000e+08,6.600000e+08,6.830000e+08,NaN
263,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1.450000e+08,2.320000e+08,2.050000e+08,1.580000e+08,2.020000e+08,1.250000e+08,...,2.940000e+08,1.290000e+08,1.350000e+08,1.640000e+08,1.740000e+08,1.830000e+08,1.860000e+08,1.910000e+08,1.940000e+08,NaN

In [16]:
pd.reset_option('display.max_rows')

In [17]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.540000e+08,6.660000e+08,7.260000e+08,7.860000e+08,7.820000e+08,8.500000e+08,...,1.352000e+09,1.223000e+09,1.254000e+09,1.358000e+09,1.412000e+09,1.506000e+09,1.625000e+09,1.659000e+09,1.638000e+09,NaN
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.700000e+07,9.000000e+07,1.690000e+08,1.520000e+08,1.770000e+08,1.910000e+08,9.200000e+07,8.800000e+07,5.100000e+07,NaN
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.700000e+07,3.800000e+07,2.400000e+07,3.900000e+07,3.100000e+07,3.400000e+07,...,2.930000e+08,5.540000e+08,7.260000e+08,6.530000e+08,7.110000e+08,1.241000e+09,1.597000e+09,1.171000e+09,6.280000e+08,NaN
3,Albania,ALB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,7.000000e+07,9.400000e+07,3.400000e+07,6.000000e+07,2.180000e+08,3.980000e+08,...,1.848000e+09,2.014000e+09,1.780000e+09,1.833000e+09,1.623000e+09,1.670000e+09,1.849000e+09,1.614000e+09,1.821000e+09,NaN
4,Andorra,AND,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.000000e+07,5.500000e+07,7.000000e+07,8.400000e+07,6.100000e+07,7.300000e+07,...,8.860000e+08,8.990000e+08,1.291000e+09,9.100000e+08,1.005000e+09,1.097000e+09,1.199000e+09,1.160000e+08,NaN,NaN
261,South Africa,ZAF,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.654000e+09,3.137000e+09,3.422000e+09,3.419000e+09,3.407000e+09,3.338000e+09,...,9.178000e+09,8.684000e+09,1.030900e+10,1.070600e+10,1.120200e+10,1.046800e+10,1.048400e+10,9.140000e+09,8.807000e+09,NaN
262,Zambia,ZMB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,2.900000e+07,4.000000e+07,5.300000e+07,6.700000e+07,...,5.420000e+08,4.740000e+08,4.920000e+08,5.550000e+08,5.180000e+08,5.520000e+08,6.420000e+08,6.600000e+08,6.830000e+08,NaN
263,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1.450000e+08,2.320000e+08,2.050000e+08,1.580000e+08,2.020000e+08,1.250000e+08,...,2.940000e+08,1.290000e+08,1.350000e+08,1.640000e+08,1.740000e+08,1.830000e+08,1.860000e+08,1.910000e+08,1.940000e+08,NaN